#{extends 'main.html' /}
<script src="@{'/public/javascripts/misc/excanvas.min.js'}"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
     $('#crudListTable table').dataTable( {

        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": '@{Productos.listJson()}',
        "bSort"      : false,
        aoColumns: [

              { sTitle: "Código"      },
              { sTitle: "Descripción" },
              { sTitle: "Costo"       },
              { sTitle: "Precio"      },
              { sTitle: "Existencia"  }

        ],
        "fnServerParams": function ( aoData ) {
			aoData.push( { "name": "sucursal_id", "value": "${sucursal_id}" } );
		},
        "oLanguage": {
            "oPaginate": {
                "sFirst"   : "Primera página",
                "sLast"    : "Última página",
                "sNext"    : "Siguiente página",
                "sPrevious": "Página anterior"
            },
            "sEmptyTable"    : "Tabla vacía. Los productos no se han cargado desde la sucursal.",
            "sInfo"          : "Mostrando productos desde el _START_ hasta el _END_ de un total de _TOTAL_",
            "sInfoEmpty"     : "Mostrando 0 de 0 resultados para su búsqueda",
            "sLengthMenu"    : "Mostrar _MENU_ productos",
            "sLoadingRecords": "Por favor espere - cargando...",
            "sProcessing"    : "Procesando...",
            "sSearch"        : "Buscar producto:",
            "sZeroRecords"   : "No hay resultados"

        }
     });
  });
</script>



<div id="content" class="xgrid">

		<div class="x12">

            <div id="crudListTable">
               <table class="data display datatable"></table>
            </div>

        </div>
</div>



