#{extends 'main.html' /}
<script src="@{'/public/javascripts/misc/excanvas.min.js'}"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
     $('#crudListTable table').dataTable( {

        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": '@{Productos.listJson()}',
        "bSort"      : false,
        aoColumns: [

              { sTitle: "Código"      },
              { sTitle: "Descripción" },
              { sTitle: "Costo"       },
              { sTitle: "Precio"      }

        ],
        "fnServerParams": function ( aoData ) {
			aoData.push( { "name": "sucursal_id", "value": "${sucursal_id}" } );
		}
     });
  });
</script>



<div id="content" class="xgrid">

		<div class="x12">

            <div id="crudListTable">
               <table class="data display datatable"></table>
            </div>

        </div>
</div>



